In [1]:
a = [1,2,3]
a[:] is a
# a[:] is copy of a, they do not have reference same object.
print(a[:])

[1, 2, 3]

In [3]:
s = 'i am khan, my name is khan'
s.count('i',2)
s.count('a')

4

In [7]:
b = 'Hello'
b[:] is b
# for string b[:] returns reference to b. so  b is b[:] is true

True

In [1]:
def reverse(text):
    a = ""
    for i in range(1, len(text) + 1):
        a += text[len(text) - i]
    return a

print(reverse("Hello World!"))

!dlroW olleH

In [7]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][1][-1]

'z'

In [15]:
x = [10, [3.141, 20, [30, 'baz', 2.718]], 'foo']
x[1][2][-2:]

['baz', 2.718]

In [11]:
import pandas as pd
mydata1 = {'A':[1,2,3],'B':[3,4,5],'C':[5,6,7]}
mydata2 = {'C':[5,6,7],'D':[3,4,5],'E':[5,6,7]}
df1 = pd.DataFrame(mydata1)
df2 = pd.DataFrame(mydata2)
df3 = pd.concat([df1,df2])
df3

     A    B  C    D    E
0  1.0  3.0  5  NaN  NaN
1  2.0  4.0  6  NaN  NaN
2  3.0  5.0  7  NaN  NaN
0  NaN  NaN  5  3.0  5.0
1  NaN  NaN  6  4.0  6.0
2  NaN  NaN  7  5.0  7.0

In [12]:
df = pd.merge(df1,df2, how='inner',on=['C'])
df

   A  B  C  D  E
0  1  3  5  3  5
1  2  4  6  4  6
2  3  5  7  5  7

In [6]:
#to check in statement do exact match or its case sensitive match
data = ['db1','db2','db3']
if 'DB1' in data:
    print('yes')
else:
    print('no')

no

In [8]:
if 'bar' in {'foo': 1, 'bar': 2, 'baz': 3}:
    print(1)
    print(2)
    if 'a' in 'qux':
        print(3)
print(4)

1
2
4

In [15]:
'a' + 'x' if '1'.isdigit() else 'y' + 'b'

'ax'

In [1]:
a = 'ABCDE'
a[0] = 'L'
print(a)

TypeError: 'str' object does not support item assignment

In [3]:
display = lambda val1, val2: val1+val2
print(display(2,3))

divide = lambda val: val//2
print(list(map(divide,[11,12,13])))

5
[5, 6, 6]

In [3]:
def display():
    val = 10
    print(val)
print(val)
display()
# here error is why because of scope of the variable

NameError: name 'val' is not defined

In [5]:
val = 'FluB'
print(val.casefold())
#The casefold() method is an aggressive lower() method which converts strings to case folded strings for caseless matching.

flub