In [17]:
li = [3,2,8,4,7,9,0,4,5,6,7]
ki = ['a','b','c','d']

di = {}
#res = dict(zip(test_keys, test_values))
numkey = int(len(li)/len(ki))

print(numkey)

2

In [2]:
#count number of elements in list and give the output
li = ['a','a','b','b','b','c','c']

num = {}
for i in li:
    num[i] = li.count(i)
    


num

{'a': 2, 'b': 3, 'c': 2}

In [1]:
mydict = {'name':'john','age':20,'place':'goa','name':'mayank'}
list(mydict.items())

[('name', 'mayank'), ('age', 20), ('place', 'goa')]

In [2]:
li = [2,4,8]
[i**2 for i in li]

[4, 16, 64]

In [3]:
he = [1,2,3,4,5,6,7,8,9,10]
he[2::2]

[3, 5, 7, 9]

In [4]:
[[]]*5

[[], [], [], [], []]

In [5]:
l1 = [1,2,3,4,5]
l2 = l1.append([6,7,8])
#l2 this will not work because we can not assign append or extend to a new variable
l1

[1, 2, 3, 4, 5, [6, 7, 8]]

In [6]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

In [1]:
#map() function
#The map() function in Python is used for applying a function on all elements of a specified iterable. 
#It consists of two parameters, function and iterable
def add(n):
    return n + n 
num= (15, 25, 35, 45)
res= map(add, num)
print(list(res))

[30, 50, 70, 90]

In [ ]:
#find the highest paid player in each college in each team.
df.groupby(["Team","College"])["Salary"].max()

In [2]:
# reindexing in pandas
import pandas as pd
bikes=["bajaj","tvs","herohonda","kawasaki","bmw"]
cars=["lamborghini","masserati","ferrari","hyundai","ford"]
d={"cars":cars,"bikes":bikes}
df=pd.DataFrame(d)
a=[10,20,30,40,50]
df.index=a
df

           cars      bikes
10  lamborghini      bajaj
20    masserati        tvs
30      ferrari  herohonda
40      hyundai   kawasaki
50         ford        bmw

In [3]:
#Get the elements of series that are not present in other series
ps1 = pd.Series([2, 4, 8, 20, 10, 47, 99])
ps2 = pd.Series([1, 3, 6, 4, 10, 99, 50])
  
print("Series1:")
print(ps1)
print("\nSeries2:")
print(ps2)
  
# Using Bitwise NOT operator along
# with pandas.isin()
print("\nItems of ps1 not present in ps2:")
res = ps1[~ps1.isin(ps2)]
print(res)

Series1:
0     2
1     4
2     8
3    20
4    10
5    47
6    99
dtype: int64

Series2:
0     1
1     3
2     6
3     4
4    10
5    99
6    50
dtype: int64

Items of ps1 not present in ps2:
0     2
2     8
3    20
5    47
dtype: int64

In [ ]:
#How to drop rows of Pandas DataFrame whose value in a certain column is NaN
df = df[df['EPS'].notna()]
#or
df = df[pd.notnull(df['EPS'])]